
.App {
  max-width: 700px;
  margin: 0 auto;
  padding: 2rem;
}
.dark-mode-toggle {
  background: transparent;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  color: #1e1e1e;
  transition: transform 0.3s ease, color 0.3s ease;
  margin-bottom: 1rem;
}
.dark-mode-toggle:hover {
  transform: scale(1.1);
}
body.dark .dark-mode-toggle {
  color: #fff;
}
body.dark .App footer a:hover {
  color: #ff69b4;
}
.App footer a{
  color: rgba(92, 6, 101, 0.7);
  font-weight: bold;
}
.App footer {
  position: relative;
  bottom: 2em;
  font-size: 0.8rem;
  text-align: center;
}