.Weather {
    font-family: arial, sans-serif;
    border: 1px solid #dadde1;
    margin: 30px auto;
    max-width: 600px;
    color: rgb(135, 135, 135);
    padding: 16px;
    border-radius: 4px;
    background-color: white;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}
.Weather form {
    margin-bottom: 20px;
}
.Weather h1 {
font-size: 24px;
margin: 20px 0 0 0;
font-weight:100;
line-height: 29px;
}
.Weather ul {
    margin: 0;
    padding: 0;
}
.Weather li { 
font-size: 16px;
font-weight: 100;
line-height: 19px;
list-style: none;
}
.Weather .temperature {
    color: #352961;
    font-size: 64px;
    margin-left: 5px;
    position: relative;
    left: 65px;
    bottom: 55px;
}
.Weather img {
    position: relative;
    top: -12px;
    width: 5em;
    height: auto;
}
.Weather .unit {
    position: relative;
    top: -85px;
    right: -68px;
    line-height: 1;
    color: black;
}
.Weather .btn-primary {
    background-color: #774181;
    border: none;
    color: #f6e5e5;
}
.Weather canvas {
  position: relative;
  top: 15px;
}
